*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-style: normal;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main, footer {
    width: 375px;
    position: relative;
}
img {
    display: block;
}
a{
    text-decoration: none;
}
#button p {
    font-family: 'Big Shoulders Display';
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;  
    letter-spacing: 3.63636px;    
    width: 204px;
    height: 72px;
    color: white;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
}
[alt=arrow_left]{
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    padding: 24px;
}
#button {
    display: flex;
    cursor: pointer;
}
.back_button {
    position: absolute;
    left: 0;
    top: 0; 
}
#button:hover [alt=arrow_left]{
    background-color: #151515;
}
#button:hover p {
    background-color: #d5966c;
}
/* /////////////////////////
//////////////////////// */

section {
    background-color: #151515;
    padding: 48px 16px 56px 16px;
}
h2 {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;    
    color: white;
}
h3 {
    font-family: 'Big Shoulders Display';
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    color: #D5966C;
    margin-top: 48px;
}
section p {
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;    
    color: white;
    margin-top: 20px;
}





/* styling footer element
///////////////////////////////////////
///////////////////////////////////////
////////////////////////////////////// */
footer {
    height: 336px;
    padding: 48px 32px;
    background-color: #D5966C;

}

[alt=dark_logo]{
    width: 110.05;
}
footer p{
    margin: 38px 0;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;    
}
#soc_media{
    display: flex; 
}
#soc_media img{
    cursor: pointer;
    margin-right: 20px;
    filter: invert(1);
}

#soc_media img:hover{
    filter: invert(59%) sepia(66%) saturate(282%) hue-rotate(341deg) brightness(97%) contrast(88%);
}